body {
    width:400px;
    min-height: 400px;
    max-height: 400px;

}

html {
    width:400px;
    min-height: 400px;
    max-height: 400px;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

#message {
    overflow: auto; 
    height: 275px; 
    width: 400px;
}